nav {
    width:100%;
    padding: 10px 15%;
    background-color: forestgreen;
}
nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li {
    margin-right: 35px;
    list-style-type: none;
    font-size: 1.2em;
}
nav ul li a {
    color: white;
    text-decoration: none;
    /*padding: 8px;*/
}
nav ul li a:hover {
    color: tomato;
}

nav ul li a.active {
    border-bottom: 3px solid white;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    
}

.nav p {
    color: white;
}