<nav class='nav'>
  <ul class="nav_ul left">
    <li class="nav_li"><a [routerLink]="['/products']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Products</a></li>
    <!--<li class="nav_li"><a [routerLink]="['products/add']" routerLinkActive="active">Add Product</a></li>
    <li class="nav_li"><a>Contact</a></li>-->
    
  </ul>

  <ul class="nav_ul right">
    <li class="nav_li">
      <!--Shooping Cart icon-->
      <div class="cart">
        <a [routerLink]="['/cart']">
          <i class="fa fa-shopping-cart"></i>
          <span class="cart-number" *ngIf="cartLength">{{cartLength}}</span>
        </a>
      </div>
      
      <!--Login Name or Link-->
      <a *ngIf="!auth.isAuthenticated()"[routerLink]="['login']" routerLinkActive="active">Login</a>
      <p *ngIf="auth.isAuthenticated()">Hello {{ auth.currentUser.firstName }}</p>
    </li>
  </ul>
</nav>