<nav class='nav'>
  <ul class="nav_ul">
    <!--<li class="nav_li"><a [routerLink]="['/products']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>-->
    <li class="nav_li"><a [routerLink]="['/products']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Products</a></li>
    <li class="nav_li"><a>About Us</a></li>
    <li class="nav_li"><a [routerLink]="['products/add']" routerLinkActive="active">Add Product</a></li>
    <li class="nav_li"><a>Contact</a></li>
  </ul>
</nav>