<div class="fade-in product-detail-cont">

    <div class="matchingProduct">
        <h1>Product Detail</h1>
        <div class="match" *ngIf="isDataAvailable">
            <h3>{{product.SKU}}</h3>
            <img src="{{product.imgUrl}}" alt="no image">   
            <p *ngFor="let key of productKeys">
                <span *ngIf="product[key]">{{key}}: {{product[key]}}</span>
            </p>

            <div class="options">
                <a class="option" 
                    *ngFor="let option of options"
                    (click)="chooseOption(option)" >{{option}}</a>   
            </div>
        </div>
    </div>
</div>
