h1 {
    margin-bottom: 25px;
}

.match {
    display: flex;
}

.match > .left,
.match > .right {
    width: 50%;
}

.options {
    display: flex;
    flex-flow: row wrap;
}

.product-info .product-info-block {
    margin-top: 20px;
}
.product-info .product-info-block h4 {
    display: inline-block;
}


.button {
    display: block;
}

.option {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border: 2px solid black;
    height: 30px;
    margin-right: 10px;
    border-radius: 3px;
    
}
#option2 {
    padding: 5px 20px;
    border-radius: 3px;
    width: 50%;
}


.option-title {
    margin-top: 25px;
}
.option.selected {
    background-color: tomato;
    color: white;
}

.option:hover {
    background-color: orange;
    border-color: tomato;
    color: white;
    cursor: pointer;
}