/* You can add global styles to this file, and also import other style files */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: Arial; 
}

a:hover {
    color: tomato;
}

.container {
    width: 70%;
    margin: 50px auto;
}

.button {
    display: inline-block;
    padding: 10px 17.5px;
    margin: 10px 5px 5px 0;
    border-radius: 2px;
    background-color: tomato;
    color: white;
    text-decoration: none;
    border: 2px solid #ff3814;

}

.button.disabled {
    background-color: lightgrey;
    color: dimgrey;
    border: 2px solid dimgray;
}

.button:hover {
    color: #ddd;
    cursor: pointer;
}

.fade-in {
    animation: fadein 0.3s;
}