/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: Arial; 
}
.container {
    width: 85%;
    margin: 50px auto;
}
nav {
    width:100%;
    padding: 10px 7.5%;
    background-color: limegreen;
}
nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li {
    margin-right: 15px;
    list-style-type: none;
    font-size: 1.2em;
}
